.top{
    float: center;
    width: 100%;
    height: 100px;
    background-color: black;
    border-color: black;
    border-style: solid;
    resize: horizontal;
    resize: vertical;
}

.background{
    position: fixed;
    background-color: azure;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    right: 0;
    bottom: 0;
    resize: horizontal;
    resize: vertical;
}

.main{
    float: center;
    margin: auto;
    width: 97.5%;
    background-color: azure;
    height: 100%;
    border-style: solid;
    border-color: azure;
    border-width: 10px;
    text-align: left; 
}

ul{
    list-style-type: none;
    padding-top: 10px;
    padding-right: 17.5%;
    resize: horizontal;
    resize: vertical;
}


li a {
    float: right;
    margin-left: 3%;
    padding left: 100px;
    display: block;
    background-color: rgb(25,67,127);
    border-color: azure;
    border-style: solid;
    border-width: 1.5px;
    text-align: center;
    padding: 6.5px;
    width: 25%;
    border-radius: 10px;
    font-family: Aharoni, Aharoni, sans-serif;
    font-weight: bolder;
    font-size: 150%;
    text-decoration: none;
    color: azure;
    box-shadow: #80B2FF 0px 4.5px 4.5px 0px inset;
   
    
}

li a:hover {
    background-color: white;
    color: black;
    box-shadow: black 0px 4.5px 4.5px 0px inset;
}

.centered {
    position: fixed;
    top: 30%;
    left: 19%;
    font-size: 500%;
    font-family: Aharoni, Aharoni, sans-serif;
    font-weight: bolder;
    
}


.container{
    width: 97%;
    height: 290px;
    margin: 0;
    padding: 0;
    position:absolute;
    display: block;
    resize: horizontal;
    resize: vertical;
}


h2 {
    text-align: left;
    position: absolute;
    display: block;
    top: 5px;
    padding-left: 38%;
    font-size: 200%;
    font-family: Aharoni, Aharoni, sans-serif;
}

.pinned1 {
    float: left;
    position: relative;
    display:block;
    padding: 2%;
    height:auto;
    border: 2px;
    border-style: none;
    width: 42.5%;
    height: 225px;
    resize: horizontal;
    resize: vertical;
}

.pinned2 {
    position:relative;
    display:block;
    float:left;
    padding: 2%;
    width: 42.5%;
    border: 2px;
    border-style: none;
    height: 225px;
    padding-top: 50px;
    resize: horizontal;
    resize: vertical;
}

.pinned3 {
    position:relative;
    float: right;
    display: block;
    padding: 2%;
    width: 42.5%;
    border: 2px;
    border-style: none;
    height: 225px;
    top: 0;
    resize: horizontal;
    resize: vertical;
}

.pinned4 {
    position:relative;
    float: right;
    display: block;
    padding: 2%;
    width: 42.5%;
    border: 2px;
    border-style: none;
    height: 225px;
    top: 0;
    padding-top: 50px;
    resize: horizontal;
    resize: vertical;
}


p {
    text-align: left;
    position: absolute;
    top: 35%;
    padding-left: 38%;
    font-size: 120%;
    font-family: Aharoni, Aharoni, sans-serif; 
    resize: horizontal;
    resize: vertical;
}

h3 {
    padding-left: 62%;
    padding-top: 50px;
    position: absolute;
    float: right;
    top: 30px;
    font-size: 30px;
    font-family: Aharoni, Aharoni, sans-serif; 
    
    
}

p2 {
    text-align: left;
    position: absolute;
    top: 165px;
    padding-left: 62%;
    font-size: 150%;
    font-family: Aharoni, Aharoni, sans-serif;  
    resize: horizontal;
    resize: vertical;
}

h4{
    padding-left: 62%;
    padding-top: 450px;
    border-top: 20px;
    position: absolute;
    top: 110px;
    font-size: 30px;
    font-family: Aharoni, Aharoni, sans-serif; 
    resize: horizontal;
    resize: vertical;
}

p3{
    position: absolute;
    top: 625px;
    padding-left: 62%;
    font-size: 22.5px;
    font-family: Aharoni, Aharoni, sans-serif;   
}

.CbhsLogo:hover{
    background-color: gold;
    border-radius: 90px;
    opacity: 0.5;
}

